.DS_Store
.ipynb_checkpoints/
__pycache__/
.env
/claude/
/ibm/
/identifying/
/primitives/
/searching/
/estimating/
/code.ipynb
/conjecture.md
/flow.pdf
/flow.png
/instructions.md
/legacy.ipynb
/objective.md
/overleaf.pdf
/overleaf.txt
/pipeline.md
/paper/