.DS_Store
.ipynb_checkpoints/
__pycache__/
.env
/claude/
/paper/
/research.ipynb
/research.pdf
/instructions.md
/research.md
/conjecture.md
/science_estimating.md
/science_identifying.md
/science_searching.md
/pipeline.md
/research.txt
/paper_txt/
/CLAUDE.md
